DATABASE_URL=postgresql+psycopg://olivesoft:olivesoft@postgres:5432/olivesoft
BACKEND_CORS_ORIGINS=["http://localhost:5173", "http://localhost:5174", "http://192.168.0.14:5174"]
HTTP_TIMEOUT=20
MAX_RESPONSE_SIZE=5000000
VITE_API_URL=http://localhost:8000
POSTGRES_USER=olivesoft
POSTGRES_PASSWORD=olivesoft
POSTGRES_DB=olivesoft
